*::before::after{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 0 auto;
}

tr, td {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.bg_aqua {
    background: aqua;
}

.bg_green {
    background: greenyellow;
}

.bg_orange {
    background: orange;
}

.font_size_0 {
    font-size: 0px;
}

.font_size_18 {
    font-size: 18px;
}

.w_400 {
    width: 400px;
}

.w_800 {
    width: 800px;
}

.h_100 {
    height: 100px;
}

.h_133 {
    height: 133.333px;
}

.h_200 {
    height: 200px;
}

.h_400 {
    height: 400px;
}

.outline {
    outline: 1px solid red;
}

.d_inline {
    display: inline-block;
}

.d_flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.v_align_mid {
    vertical-align: middle;
}

.v_align_top {
    vertical-align: top;
}

.bg_olive {
    background: rgb(93, 122, 38);
}

.bg_lime {
    background: rgb(0, 212, 0);
}

.bg_grey {
    background: gray;
}

.bg_dark_green {
    background: rgb(0, 94, 0);
}

.bg_blue {
    background: blue;
}

.header {
    background: #a6e3eb;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.main {
    padding-top: 77px;
    background: #ddf8fc;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.card {
    width: 590px;
    height: 500px;
    flex: 1 1 45%;
    outline: 1px solid black;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    margin-top: -100px;
    margin-left: -300px;
    background: rgba(200, 239, 255, 0.671);
    height: 200px;
    overflow: auto;
    opacity: 0;
}

.card:hover .description{
    opacity: 1;
}

.nav {
    background: #a6e3eb;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -147px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 25px;
    padding: 10px;
    border: 2px solid #719aa0;
    text-align: center;
}

.nav a:active {
    background: #506e72;
    border: 2px solid #4a6569;
}
.main_header {
    background: aqua;
    padding: 15px 0;
}

.main_header .container > a {
    display: inline-block;
    width: 150px;
    height: 75px;
    position: absolute;
    top:-15px;
    left: 0;
    padding: 0;
}
.logo {
    width: 100%;
    height: 100%;
}

.main_header a {
    border: none;
}

.sub_list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
}

.main_list li:hover .sub_list{
    display: block;
}

.padd_left {
    padding-left: 30px;
}

.main_list {
    gap: 10px;
}

.pos_relative {
    position: relative;
}

.flex {
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    width: 100%;
}

.sub_list li:hover .flex {
    display: block;
}

.main_header li {
    border: 1px black solid;
}

.hidden {
    display: none;
}

.icon {
    fill: transparent;
    width: 20px;
    height: 20px;
}

.align_center {
    align-items: center;
}

.gap_10 {
    gap: 10px;
}

.gap_50 {
    gap: 50px;
}